@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body{
    font-family: "Oswald", sans-serif;
}

.principal {
    background-color: #fff1e6;
}
.data{
    color:#0077b6;
}
