@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
body {
    font-family: "Oswald", sans-serif;
    background-color: #2c3e50;
    font-size: 25px;
    font-weight: bold;
}

h1 {
    color: aliceblue;
}

h2  {
    color: gold;
}

h3 {
    border:gold;
    background-color: gold;
}

.red {
    color:red;
}

ul{
    color:white
}