body{
    background-color: blue;
}
h1{border:solid yellow 8px;  

}
ul{
    background-color: aqua;
    font-size: 50px;
    color: aliceblue;
}
.carro{
    color: blue;
    font-size: 50px;
    color: pink;
.planetas ul li {
color: aliceblue;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

